body {
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}

.dayschedule {
  position: relative;
}

.dayschedule .slot {
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  position: absolute;
  width: 100%;
}

.dayschedule .slot.booked {
  background-color: rgb(255, 180, 176);
  border-color: rgb(194, 119, 114);
  opacity: 0.7;
}

.dayschedule .slot.booked.highlighted {
  opacity: 1;
}

.dayschedule .available {
  background-color: #efe;
  border-color: #beb;
  opacity: .5;
}

.dayschedule .available.pupil {
  /* background-color: rgb(175, 223, 226); */
  opacity: .7;
  /* border-color: rgb(100, 178, 184); */
  left: 3%;
  width: 94%;
}

.ui.grid>.column.narrow:not(.row), .ui.grid>.row>.column.narrow {
    padding-left: 0 !important;
    padding-right: 0 !important;
}